<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SVG Starting</title>
   <link rel="stylesheet" type="text/css" href="style.css">
   <script src="http://d3js.org/d3.v3.js"></script>
   <script type="text/javascript" src="dravingSVG.js"></script>
   <script type="text/javascript" src="headerRender.js"></script>
  </head>
  <body class="main">
    <header>
      <!--<img src="/img/logo.png" style="width:50px" alt="Лого SVG">-->
      <object>
      <svg class="mainSvg" wigth="350" height="60">
  <g>
    <g
       id="layer1-8"
       inkscape:label="Layer 1"
       transform="matrix(0.47777779,0,0,0.54296872,14.834943,0.44665487)">
      <rect
         ry="3.0067778"
         y="26.25597"
         x="53.58754"
         height="29.399649"
         width="69.757347"
         id="rect104"
         style="fill:#333333;stroke-width:0.26458332" />
      <rect class="rect_1"
         ry="3.0067778"
         y="21.445122"
         x="51.182114"
         height="29.399649"
         width="69.757347"
         id="rect104-6"
         style="fill:#ac9393;stroke-width:0.26458332">
       </rect>
       <text x="62" y="43" ry="3.0067778"
         y="21.445122" >HOME</text>
      </g>
    <g
       id="layer1-8-0"
       inkscape:label="Layer 1"
       transform="matrix(0.47777778,0,0,0.54296871,62.14165,0.91437604)">
      <rect
         ry="3.0067778"
         y="26.25597"
         x="53.58754"
         height="29.399649"
         width="69.757347"
         id="rect104-9"
         style="fill:#333333;stroke-width:0.26458332" />
      <rect
         ry="3.0067778"
         y="21.445122"
         x="51.182114"
         height="29.399649"
         width="69.757347"
         id="rect104-6-9"
         style="fill:#ac9393;stroke-width:0.26458332" />   </g>
    <g
       id="layer1-8-2"
       inkscape:label="Layer 1"
       transform="matrix(0.47777778,0,0,0.54296871,109.58199,1.1816458)">
      <rect
         ry="3.0067778"
         y="26.25597"
         x="53.58754"
         height="29.399649"
         width="69.757347"
         id="rect104-4"
         style="fill:#333333;stroke-width:0.26458332" />
      <rect
         ry="3.0067778"
         y="21.445122"
         x="51.182114"
         height="29.399649"
         width="69.757347"
         id="rect104-6-0"
         style="fill:#ac9393;stroke-width:0.26458332" />
      </g>
  </g>
</svg>
  </object>
    </header>
    {{{body}}}

    <script type="text/javascript">
    var bodyMain = d3.select("body.main");
      getSize(bodyMain);
    </script>

  </body>
</html>
